
.btn_class{
	padding: 5px;
}

.td_class1{
	border: solid 1px #000000;
	padding: 8px;
	background-color: #d9d9d9;
	text-align: center;
}

.td_class2{
	border: solid 1px #000000;
	background-color: #b7dee8;
	text-align: center;
}
.table_style {
    width: 50%;
       
}
